<?xml version="1.0"?>
<config>
    <modules>
        <DCI_Adminonlycoupons>
            <version>1.0.0</version>
        </DCI_Adminonlycoupons>
    </modules>
    <global>
        <blocks>
            <adminonlycoupons>
                <class>DCI_Adminonlycoupons_Block</class>
            </adminonlycoupons>
        </blocks>
        <models>
            <salesrule>
                <rewrite>
                    <validator>DCI_Adminonlycoupons_Model_Validator</validator>
                </rewrite>
            </salesrule>
            <adminonlycoupons>
                <class>DCI_Adminonlycoupons_Model</class>
            </adminonlycoupons>
        </models>
        <resources>
            <adminonlycoupons_setup>
                <setup>
                    <module>DCI_AdminOnlyCoupons</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </adminonlycoupons_setup>
            <adminonlycoupons_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </adminonlycoupons_write>
            <adminonlycoupons_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </adminonlycoupons_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <adminonlycoupons>
                    <file>dci/adminonlycoupons.xml</file>
                </adminonlycoupons>
            </updates>
        </layout>
    </adminhtml>
</config>